* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background-color: #282c34;
  font-family: helvetica;
  color: white;
}

/*+ MAIN */

.App {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 25% 0 25%;
}

/*+ FORM */

.form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*+ HEADER */

.main-header {
  padding: 1em 0 1em 0;
}

.header {
  font-size: 1.3em;
  padding: 1em 0 1em 0;
}

/*+ SECTION */

.section {
  width: 100%;
  padding: 1em;
}

.practical {
  grid-row: 1/-1;
  grid-column: 2/-1;
}

/*+ INPUT BOX */

.input-box {
  padding: 0em 1em 0 1em;
  background: rgba(88, 88, 88, 0.25);
  border: 1px solid rgba(124, 124, 124, 0.281);
  border-radius: 10px;
  height: 3em;
  width: 15em;
  margin: 0.75em;
}

input,
select,
textarea {
  color: white;
  text-align: left;
  font-family: helvetica;
}

input:focus {
  background: rgba(0, 0, 0, 0.144);
}

input::placeholder {
  color: rgb(126, 126, 126);
  font-family: helvetica;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: opacity(50%) invert(100%);
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  color: rgb(126, 126, 126);
}

::-webkit-datetime-edit-text {
  color: rgb(126, 126, 126);
  padding: 0 0.3em;
}

/*+ BUTTON */

.submit-button {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(163, 163, 163, 0.25);
  color: white;
  width: 140px;
  height: 45px;
  justify-self: center;
  align-self: center;
  margin: 3em 0 3em 0;
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.479);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
  color: white;
  transform: translateY(-1px);
}

/*@ ITEM */

.item {
  margin: 0 0 1em 0;
}
